.res {
    min-width: 300px;
    max-width: 30%;
    margin: 16px;
}

.restaurant-list {
    .title {

/* Text/H2/Bold */

font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 32px;
/* identical to box height, or 133% */


/* Colors/Text/Dark/#182135/100% */

color: #182135;
    }
}