/* You can add global styles to this file, and also import other style files */

$primary: #503E9D;
$seconday: #FFFFFF;
$tertiary: #F7F7F7;

body {
    margin: 0px;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/assets/fonts/Open_Sans/OpenSans-Regular') format('ttf'), /* Modern Browsers */
  }


@import "~bootstrap/scss/bootstrap";

