.category {
    padding-top: 50px;
    .title {
        font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 32px;
/* identical to box height, or 133% */


/* Colors/Text/Dark/#182135/100% */

color: #182135;

    }
    .body {
        margin-top: 16px;
        .category-item {
            background: #F7F7F7;
border-radius: 6px;
/* Text/Body/Normal/Regular */

font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

text-align: center;

/* Colors/Text/Dark/#626264/100% */

color: #626264;
min-width: 75px;
padding: 12px 8px;
margin: 8px;
cursor:pointer;
        }
        .selected {
            background: rgba(251, 109, 58, 0.1);
            color: #FB6D3A;
        }
    }

}